@charset "utf-8";

/* 
	Переменные 
*/

$font-family-1: "Montserrat";
$font-family-2:"Oranienbaum";

$color-1:#2191d5;//svet
$color-2:#0067a6;//tem
$color-3:#66b4e4;//text
$color-4:#ea1919;//red
$color-5:#0275bb;//form


$fs-def: 14;

.shadow-def{
	box-shadow: 0 0 30px -2px rgba(black, 0.1);
}


.color-1 {
	color: $color-1;
}

.bg-color-1 {
	background-color: $color-1;
}

/* COMMONS */
.container{
	position: relative;
}

.btn_def{
		height: 50px;
		width: 240px;
		display:flex;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
		border: 1px solid white;
		background-color: transparent;
		transition: all 0.3s ease;
		&:hover{
			background-color: white;
			color:$color-5;
		}
		@media (max-width: 991px) {
			height: 40px;
			width: 180px;
			margin:20px 0;
		}
		a{
			text-transform: uppercase;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

		}

	}



.shadow {
	box-shadow: 0 0 30px -5px rgba(black, 0.1);
}
h1,h2,h3{
	font-family: $font-family-1;
}
a {
	&:focus {
		text-decoration: none;
	}

	&:hover {
		color: inherit;
	}
}

h2 {
	font-weight: bold;
}

h1 {
	font-size: em(36);
	font-weight: 800;
	big{
		font-size: em(21);
	}
	@media (max-width: 991px) {
		text-align: left;
		font-size: em(25);
	}
}

p {
	margin: 0;
	font-family: $font-family-1;
	font-size: 1em;
	line-height: 160%;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
html{
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
	position: relative;
	font-family: $font-family-1;
	font: $fs-def#{px} $font-family-1;
}
img{
	max-width: 100%;
}
p{
	line-height: 170%;
}
.text-item{
	p{
		margin-bottom: 20px;
		font-weight: 400;
	}
}
//header


//MIN-MENU
*{
	backface-visibility: hidden;
}
#min-menu{
	//background-image: url( "../img/other/texture-2.png" );
	//background-color: $color-1;
	background-size: 600px;
	z-index: 30;
	background-position: right;

	.input-box{
		right: auto;
		position: relative;
		display: block;
		transform: none;
		top: auto;
		margin-bottom: 15px;
		button{
			position: relative;
		}
	}


}
#mm-blocker{
	background-color: rgba(black, 0.3);
}
.min-menu-lang{
	li{
		text-decoration: underline;
	}
	.active{
		color: $color-2;
	}
}



.min-menu-header{
	transition: top 0.3s ease-in-out 0.3s;
	opacity: 1;
	width: 100%;
	transform: unset; transform: none;
	position: fixed;
	top: 0;
  height: 70px;
  padding: 0 25px;
	z-index: 100;
	color: white;
	box-shadow: 0 0 20px 0 black;
	background-color: $color-2;
	font-size: 0.9em;
	.min-menu-logo{
		padding: 12px 0;
		width: 100%;
		h1{
			font-size: 25px;
		}
		.img{
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center left;
			height: 45px;
		}
	}
	.min-menu-bar{
		padding: 5px 0;
		.bar{
			transform: scale(0.8);
		}
	}
	.icon-bar{
		background-color: white;
	}
}
.mm-navbars-top{
	//background-color: #333;
}
.mm-opening{
	.min-menu-header{
		opacity: 0 ;
		top: -200px;
	}
	.header-hidden{
		transition: height 0.3s ease-in-out 0.0s;
	}

}



// ---MM-MENU---
.mm-panels{
	.list-cars{
		padding: 0;
		width: 100%;
		left: 0;
		top: 0;
		margin: 0 !important;
		position: relative;
		.flex{
			max-height: inherit;
		}
		figure{
			width: 50%;
		}
	}
}
.mm-navbar{
	.close-btn{
		width: 35px;
		height: 35px;
	}

}
.mm-slideout{
	z-index: auto;
}
.mm-panel{
	.search-input{
		input{
			border-color: gray;
		}
	}
}
.mm-navbar{
	position: relative;
	.close-btn{
		position: absolute;
		top: 30px;
		right: 20px;
		font-size: 60px;
		opacity: 0.8;
		[class^="icon"]{
			//box-shadow: 0 0 2px black;
		}
	}
	.min-menu-logo{
		img{
			opacity: 1;
			filter: drop-shadow( 0 -5px 1px darken($color-1, 5%) );
			width:100px;
			margin-top: 15px;
		}
	}
}
// ---MODAL---
.modal{
	@media(max-width:991px ) {
		.flexalign-i-center{
			display: block;
		}
	}
}
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: black;
		width: 42px;
		height: 50px;
		right: -5px;
    top: -5px;
    z-index: 1;
    border-radius: 0 5px;
  	&:focus, &:active{
  		outline: none;
			box-shadow: none;
		}
	}
	.icon-bar{
		background-color: $color-1;
	}
}


.bar{
	width: 60px;
	height: 45px;
	margin-left: auto;
	//margin-right: 25px;
}
.icon-bar{
	width: 100%;
	background-color: white;
	height: 1px;
	position: relative;
	display: block;
	margin: 14px 0;
	&:first-child{
		//margin-top: 14px;
	}
}









//menu
.header-scroll{
	&.bg-color{
		.header_wrapper{
			background-color: $color-2;
		}
	}
}
.header-hidden{
	height: 90px;
	width: 100%;
	@media (max-width: 991px) {
		height: 70px;
	}
}

.scrolled{	
	.header_wrapper{
		background-color: $color-2;
	}
}
.mobile_menu{
	.navbar-toggle{
		border: none;
		&:focus, &:hover{
			background-color: transparent;
		}
	}
	.navbar-default .navbar-nav > li {
		font-size: 0.9em;
		&:not(:last-child){
			border-bottom: 1px solid rgba(darken($color-2, 10%), 0.2);
		}
		& > a{
			&:hover{
				color: white;
			}
		}
	}
	.navbar-collapse{
		max-height: calc(100vh - 50px);
	}
	.mob_menu_input {
		display: none;

		&~.sub-menu-1 {
			display: none;
		}

		&:checked {


			&~.sub-menu-1 {
				display: block;
			}
		}
	}
	.sub-menu-1{
		li{
			list-style: none;
			margin:10px 0;
		}
	}
	.mob_menu_input_2{
		display: none;

		&~.sub-menu-2 {
			display: none;
		}

		&:checked {


			&~.sub-menu-2 {
				display: block;
			}
		}
	}
	.nav-logo{
		height:50px;
		a{
			height: 100%;
			width: 100%;
			.nav-logotype{
				height: 100%;
				width: 100%;
				background-repeat: no-repeat;
				background-size:contain;
				background-position: center;

			}
		}
	}
	.navbar{
		background-color: $color-2;
	}
	.navbar-toggle{
		background-color: $color-2;
		&:focus{
			background-color: $color-2;
		}
		.icon-bar{
			background-color: white;
		}
	}
	.navbar-nav{
		li{
			a{
				color:white;
				&:focus{
					color: white;
				}
				label{
					font-weight: normal;
					margin:0;
				}
			}
		}
	}
}
.desctop_menu{
	.navbar-collapse{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-default {
		background-color:transparent;
		border-bottom: none;

		.header_wrapper{
			color:white;
			position: fixed;
			height: 90px;
			border-bottom: 2px solid white;
			width:100%;
			transition: all 0.3s ease;
			@media (max-width: 991px) {
				background-color: $color-2;
			}
			
			.logo{
				height: 90px;
				background-repeat:no-repeat;
				position: relative;
				background-position: center;
				background-size:contain;
				a{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			.header_contacts{
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0;
				@media (max-width: 991px) {
					font-size: 12px;
					justify-content: flex-end;
				}
				
				.contacts{
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					border-right: 1px solid white;
					.contacts_desc{
						padding: 0 15px;
					}
				}
				.call-back{
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.menu{
					height: 90px;
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
	.navbar-default{
		.navbar-nav{
			margin:0;
			.dropdown-toggle{
				padding: 20px;
			}
			li{
				a{
					color:white;
					&:hover{
						color:black;
					}
				}
			}
		}
		.navbar-toggle{
			display: flex;
			justify-content: center;
			align-items: center;
			border:none;
			height: 90px;
			margin:0;
			padding: 10px;
			border-radius: 0;
			
			
			&:hover{
				background-color: transparent;
			}
			&:focus{
				background-color: transparent;
			}
	  
	  	&[aria-expanded="true"]{
	  		
	  			
	  		.menu_lines{
	  			
	  			span{
	  				
	  				&:nth-child(1){
	  					transform:rotate(135deg) ;
	  				
	  					
	  				} 
	  				&:nth-child(2){
	  					transform:rotate(45deg);
	  					
	  					
	  				}
	  				&:nth-child(3){
	  					opacity: 0;
	  					
	  				}
	  			}
	  		}
	  	}


			.icon-bar{
				background-color:white;
				width:40px;
				height: 3px;
				margin:5px 0;
				transition: all 0.3s ease;
				transform-origin: 50% 225%;
			}
			.menu_lines{
				padding-left:10px;
			}
		}
	}
	.nav{
		font-weight: bold;
		
	 	position: relative;
	 	overflow-y: auto;
	 	display: flex;
	 	justify-content: space-between;
	 	align-items: center;
	 	.nav_tabs{
	 		width: 100%;
		 	.nav-tab{
		 		list-style: none;
				font-weight: bold;
			 	position: relative;
			 	overflow-y: auto;
			 	display: flex;
			 	justify-content: space-between;
			 	align-items: center;
			 	background-color: $color-1;
			 	height: 60px;
			 	padding: 0;
			 	.active{
			 		background-color: $color-2;
			 	}
			 	li{
			 		width: 100%;
			 		height: 100%;
			 		color:$color-3;
			 		a{
			 			width: 100%;
			 			height: 100%;
			 			display: flex;
			 			justify-content: center;
			 			align-items: center;
			 			&:hover{
			 				background-color: $color-2;
			 				color:white;
			 			}
			 			&:focus{
			 				background-color: $color-2;
			 			}
			 		}
			 	}
		 	}
		 	.tab-content{
		 		background-color: $color-2 ;
		 		opacity: 0.9;
		 		.tab-pane{
		 			ul{
		 				padding: 20px;
		 				li{
		 					list-style: none;
		 					padding: 20px 0;
		 					&:not(:last-child){
		 						border-bottom: 1px solid $color-1;
		 					}
		 					
		 					a{
		 						color:$color-3;
		 						&:hover{
		 							color:white;
		 						}
								i{
									display: inline-block;
									transform:rotate(-90deg);
									padding: 0 10px;
								}
		 					}
		 					.panel-body{
		 						padding: 0;
		 						font-weight: normal;
		 						margin-top: 10px;
		 						ul{
		 							padding: 0;
		 							li{
		 								padding: 5px 0;
		 								border:none;
		 								i{
		 									transform:rotate(90deg);
		 								}
		 							}
		 						}
		 					}
		 				}
		 			}
		 		}
		 	}
		}
	}

	.navbar-collapse{
		max-height: calc(100vh - 70px) !important;
		border:none;
		color:white;
	}

	
}
 

//footer
.footer_wrapper{
	.footer_form_controler{
		position: relative;  
	}
}
.map-container{
	height: 600px;
	@media (max-width: 991px) {
		height: 220px;
	}
}
//breadcrumb
.breadcrumb-container{
	background-color: #f8f8f8;
	i{
		font-size: 22px;
		margin-right: 10px;
		vertical-align: sub;
	}
	.breadcrumb{
		font-size: 0.9em;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 0;
		li{
			color: $color-2;
			font-weight: 500;
		}
		.active{
			color: #939393;
		}
	}
}
.footer_form{
	position: absolute;
	bottom:-150px;
	right: 100px;
	color:white;
	width: 470px;
	background-color: $color-5;
	padding: 40px;
	@media (max-width: 991px) {
		position: relative;
		bottom: 0;
		width: 100%;
		right: 0;
		margin:20px 0;
	}
	.btn_def{
		height: 50px;
		width: 240px;
		display:flex;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
		border: 1px solid white;
		background-color: $color-5;
		transition: all 0.3s ease;
		&:hover{
			background-color: white;
			color:$color-5;
		}
		a{
			text-transform: uppercase;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	}
	.desc_content{
		margin-bottom:30px;
		h2{
			margin-top: 0px;
		}
		h3{
			margin-top:10px;
		}
	}
	.form_content{
		form{
			color:white;
			.input{
				border-bottom:1px solid $color-3;
				position: relative;
				height: 60px;
					.filled{
						&~span{
							
							transform: translateY(-100%);
							transition: all 0.3s ease;
							font-size: 10px;
						}
					}
				
				.form-control{
					width: 100%;
					border:none;
					height: 60px;
					background-color: $color-5;
					padding: 10px;
					height:100%;
					border-radius:0;
					box-shadow: none;
					color:white;
					&:focus{
						outline: none;
						&~span{
							transform: translateY(-100%);
							transition: all 0.3s ease;
							font-size: 10px;
						} 
					}
				}
				span{
					position: absolute;
					top:20px;
					pointer-events: none;
					left:10px;
					transition: all 0.3s ease;
				}
			}
		}
	}
}

.footer_inf{
	
	.contacts{
		display: flex;
		padding-top: 20px;
		flex-flow: wrap;
		.info_place{
			display: flex;
			min-width: 50%;
			max-width: 50%;
			align-items: center;
			margin:20px 0;
			@media (max-width: 991px) {
				min-width: 100%;
				max-width: 100%;
			}
			i{
				font-size: 20px;
				margin-right:10px;
			}
			.desc_content{
				p{
					color:#001843;
					font-weight: bold;
				}
			}
		}
	}
} 
.footer_bottom{
	margin-top: 40px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $color-2;
	.container{
		height: 100%;
	}
	.copyright{
		height: 100%;
		color:white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 991px) {
			font-size:12px;
		}
			p{
				a{
					color:red;
					font-style:italic;
				}
			}
		}
		.social{
			display: flex;
			a{
				margin:0 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: transparent;
				border-radius:50%;
				border:1px solid white;
				width: 40px;
				height: 40px;
				padding: 10px;
				transition: all 0.3s ease;
				&:hover{
					color:$color-2;
					background-color: white;
				}
				i{
					font-size: 16px;
				}
			}
		}
	}
	//main bnr
.bnr{

	.owl-nav{
		
		position: absolute;
		bottom: 0px;
		right:0;
		padding: 0;
		@extend .container;
		left: 50%;
		transform: translateX(-50%);
		&:before, &:after{
			display: none;
		}
		@media (max-width: 991px) {
		right:0;	
		display: flex;
		justify-content: center;
		}
	}
	.flickity-button-icon{
		height: 15px;
		width: 15px;
		fill: white;
		border-radius: 50%;
		background-color: $color-2;
		
	}
	.btn-right{
		transform: rotate(180deg);
	}
	.owl-next, .owl-prev{
		height:40px;
		width: 40px;
		cursor: pointer;
		background-color: $color-2;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		transition: all 0.3s ease;
		&:hover{
			 box-shadow:0 0 10px rgba(0,103,166,1);
			 


		}
		@media (max-width: 991px) {
			margin:0;
		}

	}
	.owl-prev{
		margin-right: 40px;
		@media (max-width: 991px) {
			margin: 0;
			
		}
	}
}
.bnr-carousel{
	position: relative;
	color: white;
	height: auto;
	.carousel-item{
		background-position: center;
		background-size: cover;
		height: 800px;
		@media (max-width: 991px) {
			height: 300px;
		}
	}
	.desc-content{
		height: 800px;
		display: flex;
		align-items: center;
		@media (max-width: 991px) {
			height: 300px;
		}
	}
	.desc-wrapper{
		
		width: 100%;
		
		@media (max-width: 991px) {
			padding: 0;
		}
		.text{
			width: 50%;
			@media (max-width: 991px) {
				width: 100%;
				text-align: center;

			}
			.btn_def{
				@media (max-width: 991px) {
					height: 40px;
					width: 180px;
					font-size:10px;
					margin-bottom: 40px;
					margin:auto;
				}
			}
			h1{
				margin-top: 0;
				font-size: 65px;
				font-weight: 800;
				text-transform: uppercase;
			}
			h3{
				font-size: 22px;
				font-weight: bold;
			}
			p{
				
				padding: 15px;
				position: relative;
				z-index: 2;
				@media (max-width: 991px) {
					display: none;
				}
				&:before{
					content: "";
					background-color: $color-2;
					height: 100%;
					width: 40px;
					left: 0px;
					position: absolute;
					z-index: -1;
					@media (max-width: 991px) {
						display: none;
					}
				}
			}
			@media (max-width: 991px) {
				
				margin:auto;
				height: 300px;
				display: flex;
				justify-content: center;
				align-items: center;

				
				h1{
					font-size: 20px;
				}
				h3{
					font-size: 16px;
				}
				p{
					font-size: 12px;
				}
			}
		}
	}
}
//products
.products{
	padding-bottom: 80px;
	overflow: hidden;
	position: relative;

	.special_text{

		display: flex;
		align-items: center;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		position: absolute;
		left: -40px;
		justify-content: flex-end;
		padding-bottom: 100px;
		span{
			width: 10px;
			height: 10px;
			background-color: red;
			margin: 10px 0;
			position: relative;
			
		}
		p{
			position: relative;
			font-size: 12px;
			text-transform: uppercase;
			color:#d9d9d9;
			white-space: nowrap;
			&:before, &:after{
				content: "";
		    position: absolute;
		    width: 1px;
		    height: 2500px;
		    left: 9px;
		    background-color: #d9d9d9;
		    bottom:-40px;
		    transform: translateY(100%);
			}
			&:after{
				bottom: auto;
				top:-40px;
				transform:translateY(-100%);
			}

		}
	}
	.desc_top{
		height: 100%;
		margin:80px 0;
		@media (max-width: 991px) {
			margin:40px 0;
		}
		p{
			color: $color-2;
			font-weight: bold;
			position: relative;
			padding: 0 40px;
			&:before{
				content: "";
				position: absolute;
				height: 3px;
				width: 30px;
				background-color: $color-2;
				left: 0;
				top:50%;
			}
		}
	}
}
.product_item{
	border:1px solid #f8f8f8;
	transition: all 0.3s ease;
	@media (min-width: 992px) {
		padding: 0;
	}
	@media (max-width: 991px) {
		margin:40px 0;
	}
	&:hover{
   transform: scale(1.1);
   transform: translateY(-10px);
   
   box-shadow: 0 0 30px -5px rgba(black, 0.1);
   z-index: 2;
	}
	.item_image{
		text-align: center;
		img{
			border: none;
		}
		border: none;
	}
	.item_info{
		background-color:#f8f8f8 ;
		text-align: center;
		padding: 10px;
		position: relative;
		font-weight: bold;
		&:before{
				content: "";
				position: absolute;
				background-color: $color-2;
				height:100%;
				width: 20px;
				background-color: $color-2;
				left: 0;
				top: 0;
			}
		p{
			position: relative;

		}
	}
	.item_desc{
		padding: 10px;
		font-size: 14px;
	}
	.product_buttons{
		
		border-top:1px solid #f8f8f8;
		height: 40px;
		.btn_def_1,.btn_def_2{
			transition: all 0.3s ease;
			padding: 0;
			text-transform:uppercase;
			text-align: center;
			height: 100%;
			span{
				height: 100%;
				width: 100%;
				
				a{
					height: 100%;
					width: 100%;
					display: flex;
					font-weight: 600;
					font-size: 0.9em;
					align-items: center;
					justify-content: center;
				}
			}
		}
		.btn_def_1{
			i{
				transform:rotate(180deg);
				font-size: 0.7em;
				padding: 0 10px;
			}
			&:hover{
				color:$color-2;

			}
		}
		.btn_def_2{
			background-color: $color-2;
			color:white;
			&:hover{
			 box-shadow:0 0 10px rgba(0,103,166,1);

			}
		}
	}
}
.solutions{
	overflow: hidden;
	position: relative;
	
	.solutions_bg{
		position: absolute;
		z-index: -1;
		right:50%;
		transform: translateX(50%);
	}
	.special_text{

		display: flex;
		align-items: center;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		position: absolute;
		left: -40px;
		justify-content: flex-end;
		padding-bottom: 100px;
		span{
			width: 10px;
			height: 10px;
			background-color: red;
			margin: 10px 0;
			position: relative;
			
		}
		p{
			position: relative;
			font-size: 12px;
			text-transform: uppercase;
			color:#d9d9d9;
			white-space: nowrap;
			&:before, &:after{
				content: "";
		    position: absolute;
		    width: 1px;
		    height: 2500px;
		    left: 9px;
		    background-color: #d9d9d9;
		    bottom:-40px;
		    transform: translateY(100%);
			}
			&:after{
				bottom: auto;
				top:-40px;
				transform:translateY(-100%);
			}

		}
	}

	.desc_top{
		height: 100%;
		color:white;
		margin:80px 0;
		@media (max-width: 991px) {
			margin:40px 0;
		}
		p{
			color: white;
			font-weight: bold;
			position: relative;
			padding: 0 40px;
			&:before{
				content: "";
				position: absolute;
				height: 3px;
				width: 30px;
				background-color: red;
				left: 0;
				top:50%;
			}
		}
	}
}


.image_content {


	.image {
		height: 480px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
		background-size: cover;
		@media (max-width: 991px) {
			margin-bottom: 10px;
			height: 200px;
		}

		&:hover {
			.image_desc {
				height: 40%;

			

				p {
					opacity: 1;
					transition-delay: 0.2s;
				}
			}
		}

		@media (min-width: 992px) {
			margin-bottom: 20px;
		}

		.image_desc {
			transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
			background-color: rgba($color-1, 0.6);
			height: 20%;
			bottom: 0;
			width: 100%;
			position: absolute;
			padding: 20px;
			color: white;


			h2 {
				font-size: 18px;
				
				font-weight: bold;
				position: relative;
				margin: 0;


				
			}

			p {
				padding: 10px 0;
				font-size: 14px;
				transition: all 0.3s ease-in;
				opacity: 0;
			}
		}

		@media (max-width: 991px) {
			.image_desc {
				height: 100%;
				p{
					opacity: 1;
					display: block;
				}
				i {
					height: 40px;
					margin: 20px 0;
				}
			}
		}
	}
}
//services
.services{
	overflow: hidden;
	position: relative;
	background-image: url('../img/bg/bg-services-dots.jpg');
	.owl-item{
		&:hover{
			z-index: 1;
		}
	}
	.services_bg{
		position: absolute;
		z-index: -1;
		right:50%;
		transform: translateX(50%);
	}
	.special_text{

		display: flex;
		align-items: center;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		position: absolute;
		left: -40px;
		justify-content: flex-end;
		padding-bottom: 100px;
		span{
			width: 10px;
			height: 10px;
			background-color: red;
			margin: 10px 0;
			position: relative;
			
		}
		p{
			position: relative;
			font-size: 12px;
			text-transform: uppercase;
			color:#d9d9d9;
			white-space: nowrap;
			&:before, &:after{
				content: "";
		    position: absolute;
		    width: 1px;
		    height: 2500px;
		    left: 9px;
		    background-color: #d9d9d9;
		    bottom:-40px;
		    transform: translateY(100%);
			}
			&:after{
				bottom: auto;
				top:-40px;
				transform:translateY(-100%);
			}

		}
	}
	.desc_top{
		height: 100%;
		margin:80px 0;
		@media (max-width: 991px) {
			margin:40px 0;
		}
		p{
			color: $color-2;
			font-weight: bold;
			position: relative;
			padding: 0 40px;
			&:before{
				content: "";
				position: absolute;
				height: 3px;
				width: 30px;
				background-color: $color-2;
				left: 0;
				top:50%;
			}
		}
	}
	.services-carousel{
		margin-bottom: 160px;
		@media (max-width: 991px) {
			margin-bottom: 100px;
		}
	}
	.carousel-item{
		padding: 20px 0;
		.services_item{
			padding-bottom: 20px; 
			border:1px solid #f8f8f8;
			padding: 0;
			transition: all 0.3s ease;
			&:hover{
		   transform: scale(1.1);
		   transform: translateY(-10px);
		   
		   box-shadow: 0 0 30px -5px rgba(black, 0.1);
		   z-index: 2;
			}
			.item_image{
				img{
					border: none;
				}
				border: none;
			}
			
			.item_desc{
				h3{
					font-size: 18px;
					font-weight: bold;
					@media (max-width: 991px) {
						font-size: 16px;
					}
				}
				background-color: white;
				padding: 20px;
				font-size: 14px;
				@media (max-width: 991px) {
					padding: 0 20px;
				}
			}
			.services_button{
				top:-10px;
				position: relative;
				height: 40px;
				background-color: white;
				.btn_def_1{
					position: absolute;
					width: 80%;
					bottom: -30px;
					left: 30px;
					margin:auto;
					border:1px solid #f8f8f8;
					transition: all 0.3s ease;
					padding: 0;
					text-transform:uppercase;
					text-align: center;
					height: 100%;
					background-color: white;
					transition: all 0.3s ease;
					&:hover{
						color:white;
						background-color: $color-2;
						box-shadow:0 0 10px  3px rgba(0,103,166,1);
						border: none;
					}
					span{
						height: 100%;
						width: 100%;
						
						a{
							height: 100%;
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							font-weight: bold;
							i{
								transform:rotate(180deg);
								padding-right: 20px;
							}	
						}
					}
				}
				
			}
		}
	}
	
	.owl-nav{

		display: flex;
		justify-content: center;
		position: absolute;
		bottom: -80px;
		right:0;
		padding: 0;
		@extend .container;
		left: 50%;
		transform: translateX(-50%);
		&:before, &:after{
			display: none;
		}
		@media (max-width: 991px) {
		right:0;	
		}
	}
	.flickity-button-icon{
		height: 15px;
		width: 15px;
		fill: white;
		border-radius: 50%;
		background-color: $color-2;
		
	}
	.btn-right{
		transform: rotate(180deg);
	}
	.owl-next, .owl-prev{
		margin:0;
		height:40px;
		width: 40px;
		cursor: pointer;
		background-color: $color-2;
		display: flex;
		justify-content: center;
		align-items: center;
		
		transition: all 0.3s ease;
		&:hover{
			 box-shadow:0 0 10px rgba(0,103,166,1);

		}

	}
	.owl-prev{
		
	}

}
//news
.owl-carousel{
 	.owl-item{
 	 	img{
			width: auto;
 	 	}
 	}
}
.news{
	overflow: hidden;
	position: relative;
	.special_text{

		display: flex;
		align-items: center;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		position: absolute;
		left: -40px;
		justify-content: flex-end;
		padding-bottom: 100px;
		span{
			width: 10px;
			height: 10px;
			background-color: red;
			margin: 10px 0;
			position: relative;
			
		}
		p{
			position: relative;
			font-size: 12px;
			text-transform: uppercase;
			color:#d9d9d9;
			white-space: nowrap;
			&:before, &:after{
				content: "";
		    position: absolute;
		    width: 1px;
		    height: 2500px;
		    left: 9px;
		    background-color: #d9d9d9;
		    bottom:-40px;
		    transform: translateY(100%);
			}
			&:after{
				bottom: auto;
				top:-40px;
				transform:translateY(-100%);
			}

		}
	}
	.desc_top{
		height: 100%;
		margin:80px 0;
		@media (max-width: 991px) {
			margin:40px 0;
		}
		p{
			color: $color-2;
			font-weight: bold;
			position: relative;
			padding: 0 40px;
			&:before{
				content: "";
				position: absolute;
				height: 3px;
				width: 30px;
				background-color: $color-2;
				left: 0;
				top:50%;
			}
		}
	}
	.all_news{
		
		.news{
			a{
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				height: 120px;
				transition: all 0.3s ease;
				&:hover{
					.desc_content{
						background-color: white;
					}
				}
				@media (max-width: 991px) {
					flex-direction: column;
					height: auto;
					text-align: center;
					.news_date{
						justify-content: center;
					}
					.image_content{
						height: 120px;
						margin-bottom: 10px;
					}
				}
			}
			.image_content{
				background-size: cover;
				background-repeat: no-repeat;
				height: 100%;
				min-width: 200px;
			}
			.desc_content{
				transition: all 0.3s ease;
				padding:10px 20px;
				height: 100%;
				.news_date{
					display: flex;
					align-items: center;
					span{
						margin-right: 10px;
						width: 10px;
						height: 10px;
						background-color: red;

					}
					p{
						font-size: 12px;

					}
				}
				h3{
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
			
				}
			}	
		}
	}
	.main_news{
		.image_content{
			height: 320px;
			width:100% ;
			position: relative;
			.main_date{
				margin:10px;
				position: absolute;
				top:0;
				color: white;
				background-color: $color-2;
				padding: 10px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				p{
					font-size: 12px;
				}
				span{
					font-weight: bold;
					font-size: 18px;
				}
			}
		}
		.desc_content{
			margin: 30px;
			font-size: 14px;
			font-weight: bold;
			@media (max-width: 991px) {
				margin:20px;
			}
			h3{
				text-transform: uppercase;
				font-size:14px;
				font-weight: bold;
			}
			p{
				font-weight: normal;

			}
			a{
				text-transform: uppercase;
				color:$color-2;
				display: inline-block;
				margin:10px 0;
			}
		}
	}
	.news_button{
		position: relative;
		.btn_def_1{
			margin-top: 20px;
			margin-bottom: 80px;
			color:white;
			background-color: $color-2;
			border: none;
			width: 250px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease;
			@media (max-width: 991px) {
				margin:10px;
			}
			span{
				height: 100%;
				width: 100%;
			
				a{
					transition: all 0.3s ease;
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: bold;
					&:hover{
						box-shadow:0 0 10px  3px rgba(0,103,166,1);
					}
					i{
						transform:rotate(180deg);
						padding-right: 20px;
					}	
				}
			}
		}
	}
}
//documents
.documents{
	position: relative;
	overflow: hidden;
	.special_div{
		margin-bottom: 80px;
		@media (max-width: 991px) {
			margin-bottom: 0px;
		}
	}
	.special_text{

		display: flex;
		align-items: center;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		position: absolute;
		left: -40px;
		justify-content: flex-end;
		padding-bottom: 100px;
		span{
			width: 10px;
			height: 10px;
			background-color: red;
			margin: 10px 0;
			position: relative;
			
		}
		p{
			position: relative;
			font-size: 12px;
			text-transform: uppercase;
			color:#d9d9d9;
			white-space: nowrap;
			&:before, &:after{
				content: "";
		    position: absolute;
		    width: 1px;
		    height: 2500px;
		    left: 9px;
		    background-color: #d9d9d9;
		    bottom:-40px;
		    transform: translateY(100%);
			}
			&:after{
				bottom: auto;
				top:-40px;
				transform:translateY(-100%);
			}

		}
	}
	.desc_content{
		margin:80px 0;
		@media (max-width: 991px) {
			margin:0px;
		}
		h3{
			font-size: 40px;
			font-weight: bold;
		}
		p{
			font-size: 14px;
		}
	}
	.documents_carousel_content{
		margin:80px 0;
		@media (max-width: 991px) {
			margin:40px;
		}

		.documents-carousel{
			
			.owl-nav{

				display: flex;
				justify-content: center;
				position: absolute;
				bottom: -80px;
				right:0;
				padding: 0;
				@extend .container;
				left: 95%;
				transform: translateX(-50%);
				&:before, &:after{
					display: none;
				}
				@media (max-width: 991px) {
					position: relative;
					left: auto;
					margin-top: 30px;
					bottom: 0;
					right: auto;
					transform: none;
					width: 100%;
				}
			}
			.flickity-button-icon{
				height: 15px;
				width: 15px;
				fill: white;
				border-radius: 50%;
				background-color: $color-2;
				 
			}
			.btn-right{
				transform: rotate(180deg);
			}
			.owl-next, .owl-prev{
				margin:0;
				height:40px;
				min-width: 40px;
				cursor: pointer;
				background-color: $color-2;
				display: flex;
				justify-content: center;
				align-items: center;
				
				transition: all 0.3s ease;
				&:hover{
					 box-shadow:0 0 10px rgba(0,103,166,1);

				}

			}
			.carousel-item{
				transition: all 0.3s ease;
				&:hover{
					.documents_image{
						&:before{
							opacity: 1;
						}
						i{
							opacity: 1;
						}
					}
				}
				.documents_image{
					position: relative;
					height: 380px;
					width: 100%;
					background-repeat: no-repeat;
					background-position: center;
					transition: all 0.3s ease;
					i{
						position: absolute;
						bottom:20px;
						right:20px;
						font-size:20px;
						color:white;
						opacity: 0;
						transition: all 0.3s ease;
					}
					&:before{
						transition: all 0.3s ease;
						content: "";
						position: absolute;
						pointer-events: none;
						width: 100%;
						height: 100%;
						opacity: 0;
						background-image: linear-gradient(to bottom, transparent, #9F4A45);
					}
					a{
						img{
							max-width: 100%;
						}
					}


				}
			}
		}
	}


}



// Azat
h2, h3, h4, h5{
	font-weight: 800;
}
h5{
	line-height: 150%;
}
ul{
	&[class]{
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
}
.color-1{color: $color-1;}
.color-2{color: $color-2;}
.color-3{color: $color-3;}
.color-4{color: $color-4;}

.boxes-1{@include boxes-items(100, 1);}
.boxes-2{@include boxes-items(95, 2);}
.boxes-3{@include boxes-items(92.2, 3);}
.boxes-4{@include boxes-items(90, 4);}
.boxes-5{@include boxes-items(90, 5);}
.boxes-6{@include boxes-items(90, 6);}

.cols-1{@include cols-items(1);}
.cols-2{@include cols-items(2);}
.cols-3{@include cols-items(3);}
.cols-4{@include cols-items(4);}
.cols-5{@include cols-items(5);}
.cols-6{@include cols-items(6);}

@media ( max-width:991px ){
	.boxes-6, .boxes-5, .boxes-4{ @include boxes-items(90, 3);}
	.cols-6, .cols-5, .cols-4{ @include cols-items(3);}
}
@media ( max-width:991px ){
	.boxes-4{ @include boxes-items( 90, 2 );}	
	.cols-4{@include cols-items(2);}
}
@media ( max-width:767px ){
	.boxes-6, .boxes-5, .boxes-4, .boxes-3{ @include boxes-items(90, 2);}
	.cols-6, .cols-5, .cols-4, .cols-3{ @include cols-items(2);}
}
@media ( max-width:480px ){
	.boxes-6, .boxes-5, .boxes-4, .boxes-3, .boxes-2{ @include boxes-items(100, 1); }
	.cols-6, .cols-5, .cols-4, .cols-3, .cols-2{ @include cols-items(1);}
}



[class*='boxes-'].owl-carousel {
  margin-left: 0;
  margin-right: 0; }
  [class*='boxes-'].owl-carousel figure {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

.entry-header{
	.date-content{
		font-size: 1.2em;
		color: $color-2;
		font-weight: 700;
	}
}
.socicons{
	.list{
		padding-left: 0;
		margin-bottom: 0;
	}
	li{
		display: inline-block;
		margin-left: 2px;
		margin-right: 2px;
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $color-2;
			border-radius: 50%;
			color: $color-2;
			transition: all 0.3s ease;
			width: 30px;
			height: 30px;
		}
		&:hover{
			a{
				color: white;
				background-color: $color-2;
			}
		}
	}
}
.img{
	background-position: center;
	background-repeat: no-repeat;
}
figure{
	.date-content{
		position: absolute;
		background-color: $color-2;
		display: flex;
		color: white;
		left: 10px;
		top: 10px;
		font-weight: 200;
		b{
			font-size: 1.5em;
		}
		justify-content: center;
		align-items: center;
		min-width: 70px;
		min-height: 45px;
		padding: 5px 10px;
		flex-direction: column;
	}
}
//news-article
.short-news-items{
	figure{
		position: relative;
	}
	h4{
		font-size: 1.2em;
	}
	p{
		line-height: 150%;
	}
	a{
		margin-top: 15px;
		margin-bottom: 10px;
		display: block;
		color: $color-2;
	}
	.img{
		height: 150px;
		background-size: cover;
	}
}
[class*="-items"]{
	&.boxes-2{
		.img{
			height: 320px;
		}
	}
	&.boxes-4{
		.img{
			height: 150px;
		}
	}
}
input.form-control{
	height: 50px;
	background-color: #f9f9f9;
	border: none;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #f9f9f9;
}
.form-control{
	&:focus{
		box-shadow: none;
		border-color: rgba($color-2, 0.8);
	}
}
textarea.form-control{
	background-color: #f9f9f9;
	border: 1px solid #f9f9f9;
	border-radius: 0;
	box-shadow: none;
	resize: none;
	min-height: 180px;
}
.intro-info{
	.flex-adaptive{
		.color-2{
			color: #001843;
		}
		&:not(:last-child){
			//border-bottom: 1px solid #e8e8e8;
		}
	}
	.icon-content{
		min-width: 40px;
		max-width: 40px;
		padding-top: 5px;
		font-size: 20px;
	}
	h3{
		margin-top: 0;
		margin-bottom: 0;
	}
	@media (max-width: 991px) {
		.flex-adaptive{
			text-align: center;
			align-items: center;
		}
	}
}
.btn-def{
	a, button{
		border: none;
		color: white;
		background-color: $color-2;
		padding: 10px 20px;
		display: inline-block;
		transition: all 0.3s ease;
		&:hover{
			box-shadow: 0 0 10px $color-2;
		}
	}
}
.list-advantages{
	box-shadow: 0 0 20px -5px rgba(black,0.1);
	li{
		padding: 15px 15px;
		display: flex;
		align-items: center;
		
		line-height: 170%;
		i{
			text-align: center;
			color: $color-2;
			margin-right: 20px;
			min-width: 40px;
		}
		&:not(:last-child){
			border-bottom: 1px solid #efefef;
		}
	}
}

.contacts{
	.form-content{
		@extend .shadow-def;
		padding: 20px 50px;
		@media (max-width: 991px) {
			padding: 10px 15px;
		}
	}
}


//productions
.productions{
}
.productions-accordion{
	background-color: #f8f8f8;
	.list{
		padding: 10px 30px;
		&>li{
			&:not(:last-child){
				border-bottom: 1px solid #e5e5e5;
			}
		}
		a{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 15px;
			padding-bottom: 15px;
			&[aria-expanded="true"]{
				i{
					transform: rotate(180deg);
				}
			}
			i{
				transform-origin: 50%;
				transition: all 0.3s ease;
				font-size: 20px;
			}
		}
		.collapse-list{
			margin-bottom: 10px;
			a{
				padding-top: 2px;
				padding-bottom: 2px;
			}
		}
	}
}







.carousel-article{
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
	.carousel {
	  margin-bottom: 20px;
	}
	.carousel-cell {
	  width: 100%;
	  height: auto;
	  margin-right: 25px;
	}
	img{
		//width: 100%;
	}
	*{
		&:focus{
			outline: none;

		}
	}
	.img-content{
		text-align: center;
	}
	.carousel-main{
		.flickity-viewport{
			border: 1px solid rgba(#d1d1d1, 0.2);
			//border-radius: 15px;
			overflow: hidden;
		}
		.img-content{
			img{
				height: 300px;
			}
		}
	}
	.carousel-nav{
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 2px 5px;
		.img-content{
			img{
				height: 70px;
			}
		}
		.carousel-cell{
	  	width: 30%;
			height: auto;
	  	//margin-right: 10px;
	  	border: 2px solid transparent;
	  	transition: all 0.3s ease-out ;
	  	.img-content{
	  		transition: all 0.3s ease-out;
	  		//transform: scale(0.8);
	  	}
	  	&.is-nav-selected{
	  	 //border-color: $color-1;
	  	}
		}
		.is-selected{
			border-color: rgba($color-2, 1);
			.img-content{
				transform: inherit;
			}
		}
	}
	.flickity-prev-next-button.previous{ left: -10px; }
	.flickity-prev-next-button.next{ right: -10px; }
	.flickity-page-dots{
		margin-bottom: -140px;
	
	}
}
.product-items{
	&.owl-carousel{
		width: 100%;
		margin-right: 0;
		.owl-nav{
			display: flex;
			justify-content: center;
			padding: 20px 0;
			margin-top: 20px;
		}
		.owl-prev, .owl-next{
			width: 40px;
			height: 40px;
			background-color: $color-2;
				display: flex;
				align-items: center;
				justify-content: center;
			svg{
				width: 20px;
				height: 13px;
			}
			.arrow{
				fill: white;
				//transform: scale(0.6);
			}
			transition: all 0.3s ease;
			&:hover{
				box-shadow: 0 0 15px -2px rgba($color-2, 0.5);
			}
		}
		.owl-next{
			svg{
				transform: rotate(180deg);
			}
		}
	}
}

